body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* 가로 스크롤 숨기기 */
}

#app {
    display: flex;
    flex-direction: row;
    width: 80%; /* 화면의 80% 너비 사용 */
    max-width: 1200px; /* 최대 너비 설정 */
    height: 600px; /* 고정 높이 설정 */
    padding: 20px; /* 내부 여백 추가 */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    border-radius: 10px; /* 모서리를 둥글게 */
    background-color: #f9f9f9; /* 배경색 설정 */
    box-sizing: border-box; /* 패딩과 보더를 포함한 크기 조정 */
}

#leftPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* 오른쪽에 공간을 추가하여 오른쪽 패널과 구분 */
}

#leftPanel input, #leftPanel button {
    margin-bottom: 10px; /* 입력창과 버튼 사이 간격 */
}

#leftPanel input {
    font-size: 12px; /* 입력창 폰트 크기 조정 */
    padding: 8px; /* 패딩 조정 */
    width: 100%; /* 입력창 너비 조정 */
    box-sizing: border-box; /* 패딩을 포함한 너비 조정 */
}

#leftPanel button {
    padding: 8px 15px; /* 버튼 패딩 조정 */
    font-size: 12px; /* 버튼 폰트 크기 조정 */
}

#instructions {
    margin-top: 20px; /* 입력창과 설명서 사이 간격 */
    text-align: left; /* 왼쪽 정렬 */
    font-size: 20px; /* 설명서 폰트 크기 조정 */
    color: #333; /* 텍스트 색상 */
}

#instructions h2 {
    margin-bottom: 10px; /* 제목과 본문 간의 간격 */
    font-size: 30px; /* 제목 폰트 크기 조정 */
}


#rightPanel {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */
    width: 100%;
}

#alphabetListContainer {
    display: flex;
    flex-direction: column; /* 세로 방향으로 배열 */
    border: 1px solid #ccc; /* 박스 테두리 */
    padding: 15px; /* 내부 여백 조정 */
    border-radius: 5px; /* 모서리 둥글게 */
    height: 100%; /* 패널의 전체 높이 차지 */
    width: 100%; /* 패널의 전체 너비 차지 */
    box-sizing: border-box; /* 패딩과 보더를 포함한 크기 조정 */
    background-color: white; /* 배경색 설정 */
}

#alphabetList {
    display: flex;
    flex-direction: column; /* 세로 방향으로 배열 */
    gap: 10px; /* 각 알파벳과 단어 사이 간격 */
}

#alphabetList div {
    display: flex;
    flex-direction: column; /* 알파벳 아래 단어 나열 */
    align-items: flex-start; /* 왼쪽 정렬 */
}

#alphabetList strong {
    display: block; /* 각 알파벳을 블록 요소로 만들어 세로로 정렬 */
    margin-bottom: 2px; /* 알파벳과 단어 간의 간격 */
    font-size: 18px; /* 알파벳 폰트 크기 조정 */
}

#alphabetList span {
    display: block;
    margin-bottom: 2px; /* 단어 간의 간격 */
    font-size: 20px; /* 단어 폰트 크기 조정 */
}

button {
    padding: 5px 15px;
    cursor: pointer; /* 마우스 포인터 변경 */
}
